<%= form_for(@nominee) do |f| %>
  <% if @nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nominee.errors.count, "error") %> prohibited this nominee from being saved:</h2>

      <ul>
      <% @nominee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nominee_mail %><br>
    <%= f.text_field :nominee_mail %>
  </div>
  <div class="field">
    <%= f.label :nominee_name %><br>
    <%= f.text_field :nominee_name %>
  </div>
  <div class="field">
    <%= f.label :cv %><br>
    <%= f.text_area :cv %>
  </div>
  <div class="field">
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
