<p id="notice"><%= notice %></p>

<p>
  <strong>Nominee mail:</strong>
  <%= @nominee.nominee_mail %>
</p>

<p>
  <strong>Nominee name:</strong>
  <%= @nominee.nominee_name %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @nominee.cv %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @nominee.statement %>
</p>

<p>
  <strong>Committee check:</strong>
  <%= @nominee.committee_check %>
</p>

<p>
  <strong>Committee check count:</strong>
  <%= @nominee.committee_check_count %>
</p>

<p>
  <strong>Chairman check:</strong>
  <%= @nominee.chairman_check %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @nominee.confirmed %>
</p>

<p>
  <strong>Not confirmed:</strong>
  <%= @nominee.not_confirmed %>
</p>

<p>
  <strong>Abstained:</strong>
  <%= @nominee.abstained %>
</p>

<%= link_to 'Edit', edit_nominee_path(@nominee) %> |
<%= link_to 'Back', nominees_path %>
